html,
body {
  padding: 0;
  margin: 0;
  background-color: black;
}

#earth_div {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute !important;
  width: 80%;
}
.we-pm-icon:hover {
  cursor: pointer;
}
